.about-top {
    padding: 300px 0 0 0;

    @media screen and (max-width: 600px) {
        padding: 0;
    }

}

.about-top-container {
    padding: 100px 0 0 0;

    @media screen and (max-width: 600px) {
        padding: 0px;
    }

    .section-left {
        margin-top: -110px;
    }

    
    @media screen and (min-width: 1000px) and (max-width: 1300px) {
        .section-wholesale {
            margin-left: 120px;
        }
    }    

    @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: center;

        .section-left, .section-right {
            max-width: 100% !important;
            margin: 0;
        }

        .section-left {
            margin-top: 85px;
            padding: 0 40px !important;
        }
    }

    .section-left, .section-right {
        display: block;

        .about-text {
            font-size: 20px;
            line-height: 1.4em;
            //max-width: 450px;

            @media screen and (max-width: 480px) {
                font-size: 16px;
            }
        }

        .section-sub-header {
            font-size: 48px;
            font-weight: bold;
            margin: 20px 0 20px 0;
            color: var(--black);        
        }

        .section-title {
            margin-bottom: -20px;
            text-align: left;
            line-height: 0;


            @media screen and (max-width: 480px) {
                font-size: 90px;
            }

            @media screen and (min-width: 480px) and (max-width: 600px) {
                font-size: 110px;
            }
        }

        .image-container {
            max-width: 495px;
            max-height: 675px;
            width: 100%;
            height: 100%;
            margin-top: -270px;

            @media screen and (max-width: 600px) {
                margin-top: 0;
            }

            @media screen and (max-width: 600px) {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                box-shadow: 10px -8px 0px 2px var(--lightGreen);
            }
        }

    }

}
