.subscribe {
    padding: 100px 0 100px 0;
    background: var(--slate);
}

.subscribe-container {
    padding-bottom: 80px;
    color: var(--white);

    @media screen and (max-width: 960px) {
        flex-direction: column;
        align-items: center;

        .section-subscribe {
            max-width: 100% !important;
            padding: 0 40px !important;
            margin-top: 20px;
        }

        .section-subscribe-form {
            max-width: 100% !important;
        }
    }

    .section-subscribe, .section-subscribe-form {
        display: block;

        .subscribe-text {
            font-size: 20px;
            line-height: 1.4em;
        }

        .section-sub-header {
            font-size: 48px;
            font-weight: bold;
            margin: 20px 0 20px 0;
            color: var(--white);        
        }

        .section-title {
            @media screen and (max-width: 600px) {
                font-size: 120px;
                text-align: right;
                position: relative;
                top: -395px;
            }
        }

        .input-container {
            height: 175px;
            margin-top: 110px;

            @media screen and (max-width: 600px) {
                margin-top: -60px;
                height: auto;
            }

            .indie-input {
                background: transparent;
                color: var(--white);
                width: 350px;
                height: 20px;
                padding: 10px;
                font-size: 18px;
                font-weight: normal;
                font-family: "Raleway", sans-serif !important;
                outline: none;
                border-bottom: 2px var(--green) solid;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        .button-container {
            margin-top: -60px;
            text-align: left;

            @media screen and (max-width: 600px) {
                margin-top: 60px;
            }

            .indie-btn {
                width: 250px;
                
                @media screen and (max-width: 600px) {
                    width: 170px;
                }

                &::before {
                    width: calc(100% + 36%);
                    right: -400px;

                    @media screen and (max-width: 600px) {
                        width: calc(100% - 24%);
                        right: -60px;
                    }
                }
            }
        }
    }

}

