.learn {
    padding: 100px 0 100px 0;
    background: var(--slate);
}

.section-title {
    margin-bottom: -130px;

    @media screen and (max-width: 600px) {
        margin-bottom: -40px;
    }
}



.learn-container {
    padding: 50px 0 50px 0;

    @media screen and (max-width: 960px) {
        flex-direction: column-reverse;
        align-items: center;

        .section-learn {
            max-width: 100% !important;
            padding: 0 40px !important;
        }

        .section-learn-img {
            width: auto !important;
        }
    }

    .section-learn-img {
        margin-top: 15px;
    }

    .section-learn, .section-learn-img {
        color: var(--white);
    
        .learn-text {
            font-size: 20px;
            line-height: 1.4em;
        }
    
        .section-sub-header {
            font-size: 48px;
            font-weight: bold;
            margin: 20px 0 20px 0;
            color: var(--white);        
        }

        .button-container {
            margin-top: 70px;
            text-align: left;

            @media screen and (max-width: 600px) {
                right: 50px;
                margin-top: 305px;
            }

            .indie-btn {
                width: 250px;

                @media screen and (max-width: 600px) {
                    width: 205px;
                }

                &::before {
                    width: calc(100% + 34%);
                    right: -430px;
                    
                    @media screen and (max-width: 600px) {
                        width: calc(100% - 8%);
                        right: -160px;
                    }
                }
            }
        }

        .image-container {
            width: 650px;

            @media screen and (max-width: 600px) {
                width: 400px;
            }

            img {
                filter: invert(1);
            }
        }
    }
}

